<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rAthena_Database_Editing_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <rAthena_Database_Editing_Tools.Properties.Settings>
            <setting name="prme_src_files" serializeAs="String">
                <value>item_db,item_db_re,mob_db,mob_db_re</value>
            </setting>
            <setting name="sec_src_files" serializeAs="String">
                <value>item_db2,item_db2_re,,mob_db2,mob_db2_re</value>
            </setting>
            <setting name="gen_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="src_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="log_location" serializeAs="String">
                <value>logs\</value>
            </setting>
            <setting name="log_level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cust_src_files" serializeAs="String">
                <value />
            </setting>
            <setting name="use_re" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_sec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_cust" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="data_src" serializeAs="String">
                <value />
            </setting>
            <setting name="cust_itm_loc" serializeAs="String">
                <value />
            </setting>
            <setting name="cust_mob_loc" serializeAs="String">
                <value />
            </setting>
            <setting name="info_sufx" serializeAs="String">
                <value />
            </setting>
            <setting name="warn_sufx" serializeAs="String">
                <value />
            </setting>
            <setting name="err_sufx" serializeAs="String">
                <value />
            </setting>
            <setting name="enable_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="indy_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rpt_errs_in_app" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="src_file_ext" serializeAs="String">
                <value />
            </setting>
        </rAthena_Database_Editing_Tools.Properties.Settings>
    </userSettings>
</configuration>